<md-content class="c-filter-panel_toggle md-padding"
            layout
            layout-align="space-between center"
            md-padding>
  <h4>Carga de Registros</h1>

  <md-card class="md-padding"
    flex="50"
    flex.xs="100">
    <div class="callout callout-danger">
      Nota: El formato de la plantilla ha sido actualizado, por favor verificar que el archivo a cargar contiene el formato correcto.
    </div>
  </md-card>
</md-content>

<md-content class="md-padding" layout-fill >
  <md-card class="md-padding">
    <md-card-content>
      <form id="registrosForm" class="form-horizontal"  novalidate>
        <div class="form-group">
            <label class="col-sm-1 control-label">Código</label>
            <div class="col-sm-5">
                <input id="use_code" type="checkbox" name="use_code" ng-model="vm.selection.useCode">
                <label for="use_code">Incluír código desde la plantilla? (El código no será autogenerado)</label>
            </div>
        </div>

        <div class="form-group">
          <label for="uploadFile" class="col-sm-1 control-label">Plantilla:</label>
          <div class="col-sm-4">
            <button type="submit"
                    class="btn btn-primary"
                    ng-click="vm.downloadTemplate()">
                <i class='fa fa-file-excel'></i>
                Descargar
            </button>
          </div>
          <div class="col-sm-1">
            <div ng-show="vm.isExcelLoading">
                <i class="fa fa-spinner fa-spin download-loading-icon"></i>
            </div>
          </div>
        </div>

        <div class="form-group">
            <label for="uploadFile" class="col-sm-1 control-label">Elegir archivo:</label>
            <div class="col-sm-5">
                <input type="file"
                       class="form-control"
                       id="uploadFile"
                       name="uploadFile"
                       required
                       ng-disabled="vm.disableSubmit()"
                       ng-model="vm.customer.file"
                       ngf-select
                       ngf-pattern="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel'"
                       ngf-accept="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel'"
                       ngf-max-size="50MB"
                       ngf-min-height="100"
                       ngf-resize="{width: 100, height: 100}"
                   />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label">Operario</label>
            <div class="col-sm-5">
                <se-selector config="vm.deliveryUserConfig"></se-selector>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label">Remitente</label>
            <div class="col-sm-5"
                 ng-switch="!!vm.selection.enableSender">
                <se-selector ng-switch-when="true" config="vm.senderUserConfig"></se-selector>
                <div ng-switch-default> Habilite la asignación masiva si desea asignar el mismo remitente a todos los registros a ser cargados. </div>
            </div>
            <div class="col-sm-5">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
                       ng-model="vm.selection.enableSender">
                <label class="form-check-label" for="defaultCheck1">
                  Habilitar asignación masiva de remitente
                </label>
              </div>
            </div>
        </div>
        <div>El orden de las columnas según la plantilla es el siguiente:</div>
        <br/>
        <div><strong> N° Doc. | Fecha | Remitente | Para | Dirección | Detalle | Departamento | Provincia | Distrito</strong></div>
      </form>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button type="submit" class="md-raised md-primary"
              ng-click="vm.saveData(vm.customer.file)"
              ng-disabled="vm.disableSubmit()">Enviar</md-button>

    </md-card-actions>

  </md-card>
</md-content>
