users {
  .text-green {
    color: green;
    fill: green;
  }

  .text-red {
    color: red;
    fill: red;
  }
}

.md-contact-suggestion .md-contact-name {
  width: 100%;
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
  min-width: 360px !important;
}

.md-view {
  .md-chips {
    font-size: 12px;
    md-chip {
      border-radius: 4px;
    }
    .md-chip-input-container {
      margin: 8px 0 0 0;
    }
  }
}