.sidenav-container {
    height: 100%;

    mat-sidenav {
        box-shadow: 0 0 10px -5px #bbb;
        border: none;
    }
}

.sidenav-logo-container {
    width: 300px;
    font-size: 24px;
    padding: 16px;
    font-weight: 500;
    box-shadow: 0 10px 15px -10px #bbb;
    background: white;
    margin-bottom: 16px;
}


.basic-container {
    padding: 30px;
}