<md-content class="c-filter-panel_toggle md-padding"
    layout
    layout-align="space-between center"
    md-padding>
    <h4>Cierre de Registros</h4>
</md-content>

<md-content class="md-padding" layout-fill >
    <md-card class="md-padding">
        <md-card-content>
            <form class="form-horizontal assign-form" name="form" validate>

                <div class="form-group">
                    <label for="received_by"
                            class="col-sm-2 control-label"
                            required-field>A Usuario:</label>
                    <div class="col-sm-8">
                        <se-selector config="vm.deliveryUserConfig"></se-selector>
                    </div>
                </div>
                <!-- Get data from 'assignedTo' -->
                <div class="form-group">
                    <label for="contact"
                        class="col-sm-2 control-label">Dirección: </label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{ vm.assignedTo.office_name }} - {{ vm.assignedTo.area_name }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="contact"
                        class="col-sm-2 control-label">Origen: </label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{ vm.currentUser.origin || '-' }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"
                            required-field>Registros</label>
                    <div class="col-sm-8">
                        <multi-tag data-selection="vm.close.recordCodes"
                                    data-placeholder="Ingrese el código del registro a cerrar."></multi-tag>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit"
                                class="btn btn-success pull-right"
                                formnovalidate
                                ng-click="vm.getRecords()">Verificar</button>
                    </div>
                </div>
                <div class="form-group">
                    <p class="row col-sm-8 col-sm-offset-2" ng-show="!!vm.missingCodes && !!vm.missingCodes.length">
                        <b>Los siguientes códigos no fueron encontrados: </b>
                        <span ng-repeat="item in vm.missingCodes">{{item}}{{$last ? '.' : ', '}}</span>
                    </p>
                </div>
                <div class="row col-sm-12" ng-show="vm.isTableVisiable">
                    <ad-table-ajax table-name="closeRecords"
                                    column-definition="vm.colDef"
                                    table-classes="table table-bordered table-hover bg-blank"
                                    page-sizes="[10, 20]"
                                    page-size="10"
                                    pagination-btn-group-classes="pagination pagination-sm"
                                    ajax-config="vm.tableConfig"
                                    page-loader="vm.methods.pageLoader"
                                    state="vm.tableConfig.state"
                                    on-data-loaded="vm.validateTableData($response)"
                                    items-not-found-message="No se encontraron datos">
                    </ad-table-ajax>
                </div>

            </form>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button type="submit" class=""
                        ng-click="vm.backToList()">Cancelar
            </md-button>

            <md-button type="submit" class=" md-primary"
                        ng-click="vm.save(form)"
                        ng-disabled="vm.isDisabled">Guardar
            </md-button>

            <md-button type="submit" class="md-raised md-primary"
                        ng-click="vm.save(form, true)"
                        ng-disabled="vm.isDisabled">Guardar y Exportar
            </md-button>
        </md-card-actions>
    </md-card>
</md-content>
