<md-toolbar>
  <div class="md-toolbar-tools"
    layout-align="space-between start">
    <div class="renew-container">
      <span class="file-name">
        {{vm.file.date}}
      </span>
    </div>

    <a target="_blank"
       class="download"
       download="{{vm.documentCode}}"
       ng-href="{{vm.file.url}}">
      <md-button class="md-icon-button"
                aria-label="Close panel">
        <md-icon md-svg-icon="save_alt" size="24"></md-icon>
      </md-button>
    </a>

    <md-button class="md-icon-button renew-link"
                aria-label="Close panel"
                data-ng-click="vm.closePanel()">
        <md-icon md-svg-icon="close" size="24"></md-icon>
    </md-button>
  </div>
</md-toolbar>

<div class="content padding-top-0">
    <div class="image-container">
      <img ng-if="vm.isValidPreview" ng-src="{{vm.file.url}}" alt="example" class="image-preview">
      <div ng-if="!vm.isValidPreview">
          <div class="icon-cloud-container" flex layout="column" layout-align="center center">
              <a target="_blank"
                class="download fade"
                download="{{vm.documentCode}}"
                ng-href="{{vm.url}}">
                <md-icon md-svg-icon="cloud_download" size="96" class="icon-cloud"></md-icon>
              </a>
          </div>
          <div class="file-description unavailable-file"
                layout="column">
            <span class="file-name">Adjuntado por: {{vm.file.created_by}}</span>
          </div>
      </div>

    </div>
    <div class="file-description"
         ng-if="vm.isValidPreview">
        <span class="file-name">Adjuntado por: {{vm.file.created_by}}</span>
    </div>
    <div class="file-description file-footer file-name"
         ng-if="!vm.isValidPreview">
        Descargue el archivo para poder visualizarlo.
    </div>
</div>
