@import '../../../core/materialColors';

.c-file-viewer {
  padding: 0;
  background-color: color($grey, 900);
  min-width: 350px;
  height: 570px;
  border-radius: 3px;
  overflow: hidden;

  @media (max-width: 420px) {
    width: 100%;
    height: 100%;
    transform: none;
    top: 0;
    left: 0;
  }

  .icon-cloud-container {
    height: 96px;

  }
  .icon-cloud {
    fill: #9b9b9b;
    width: 96px;
    height: 96px;
    margin: 0;
  }

  .download {
    opacity: 1;
  }
  .download.fade {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }

  .download.fade.ng-hide {
    opacity: 0;
  }

  .image-container {
    .file-description {
      padding: 0;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    height: 85%;
    padding: 8px;
  }

  md-toolbar {
    background-color: #252525;
    padding:0;
    min-height: 40px;
    max-height: 40px;
    height: 40px;
    .md-toolbar-tools {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 0;
      padding: 0;
      min-height: 42px;
      max-height: 42px;
      height: 42px;
      @media (max-width: 959px) {
        padding-left: 8px;
      }
    }
  }

  .md-button.md-icon-button {
    padding: 0;
    margin: 0;
    &.close {
      display: flex;
      flex-grow: 1;
    }
  }

  ng-md-icon {
    fill: #fff;
  }

  a {
    text-decoration: none;
    &.download {
      display: flex;
      justify-content: flex-end;
      flex-grow: 15;
    }
  }

  .renew-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 20;
    padding-left: 16px;
  }

  .file-description {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
    &.unavailable-file {
      flex-direction: column;
      align-items: center;
      .file-name, .file-size {
        color: #bebebe;
      }
    }

    &.file-footer {
      justify-content: center;
    }
  }
  .file-name, .file-size {
    color: #bebebe;
    font-weight: 300;
    font-size: 14px
  }

  .file-name {
    flex-grow: 4;
    word-break: break-all;
  }

  .file-size {
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
  }

  .renew-link {
    color: color($pink, 500);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }

  .padding-top-0 {
    padding-top: 0;
  }

  .image-container {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 5;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .image-preview {
    height: auto;
    max-width: 100%;
    max-height: 500px;
  }

  .default-preview {
    width: 100px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  a, span {
    &:focus {
      outline: none;
    }
  }
}
