<div layout-align="space-between start"
    layout>
  <md-input-container class="md-icon-float md-block md-padding">
    <!-- Use floating label instead of placeholder -->
    <label>Búsqueda</label>
    <md-icon md-svg-icon="search" class="name"></md-icon>
    <input type="text"
              class="form-control"
              placeholder="Buscar"
              data-enter-press="vm.search()"
              ng-model="vm.searchKey">
  </md-input-container>

  <md-button class="md-raised md-primary md-button md-ink-ripple"
            ng-click="vm.goToCreate()">
    <md-icon md-svg-icon="add"></md-icon>
    Registrar Comprobante
  </md-button>
</div>

<md-card>
<md-table-container>
  <table md-table ng-model="vm.selected" md-progress="vm.promise">
    <thead md-head md-order="vm.query.order" md-on-reorder="vm.getReceipts">
      <tr md-row>
        <th md-column><span>Comprobante</span></th>
        <th md-column><span>Cliente</span></th>
        <th md-column>Fecha</th>
        <th md-column>Fecha Vencimiento</th>
        <th md-column md-numeric>Valor total</th>
        <th md-column md-numeric>IGV</th>
        <th md-column></th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="receipt" md-select-id="name" md-auto-select ng-repeat="element in vm.receipts">
        <td md-cell>{{element.serie}} - {{element.doc_number}}</td>
        <td md-cell>{{ element.assoc_company_name }}</td>
        <td md-cell>{{ element.date }}</td>
        <td md-cell>{{ element.due_date }}</td>
        <td md-cell>{{element.total_amount}}</td>
        <td md-cell>{{element.tax_value}}</td>
        <td md-cell layout>
          <md-button class="md-icon-button"
                    ng-click="vm.openReceipt(element.id)">
            <md-icon md-svg-icon="search" ></md-icon>
          </md-button>

          <md-button class="md-icon-button"
                    ng-click="vm.goToPayment(element.id)">
            <md-icon md-svg-icon="monetization_on" ></md-icon>
          </md-button>

          <md-button class="md-icon-button"
                    ng-if
                    ng-click="vm.confirmDeletion(element.id)">
            <md-icon md-svg-icon="delete" ></md-icon>
          </md-button>
        </td>

      </tr>
    </tbody>
  </table>
</md-table-container>
</md-card>