ad-infinite-dropdown {
    button {
        width: 100%;
        text-align: left !important;
        &.btn-default {
            background: #FFF;
        }
    }
    .caret {
        margin-top: 8px;
        float: right;
    }
}