<md-card class="margin-1 md-padding md-whiteframe-4dp" layout="column">
  <md-card-title-text layout layout-align="space-between center">
    <h4>
      Assignación
    </h4>

    <md-menu md-position-mode="target-right bottom">
      <md-button aria-label="Menú asignación"
        class="md-icon-button"
        ng-click="$mdMenu.open($event)">
        <md-icon md-svg-icon="more_vert" ></md-icon>
      </md-button>

      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click='vm.downloadManifest(vm.binnacle.manifest_code, vm.binnacle.action_id)'>
            <md-icon md-svg-icon="picture_as_pdf" ></md-icon>
            <span>Manifiesto Original</span>
          </md-button>
        </md-menu-item>

        <md-menu-item>
          <md-button ng-click='vm.downloadSignedManifest(vm.binnacle.manifest_code)'>
            <md-icon md-svg-icon="fingerprint" ></md-icon>
            <span>Manifiesto Firmado</span>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </md-card-title-text>

  <md-divider></md-divider>

  <div>
    <div class="margin-v-1" layout
      layout-align="start start">
      <label class="control-label"
        flex="40">Asignado a:</label>
      <span flex="60">
        {{ vm.binnacle.created_by_name }}
      </span>
    </div>

    <div class="margin-v-1" layout
      layout-align="start start">
      <label class="control-label"
        flex="40">Fecha:</label>
      <span flex="60">{{ vm.binnacle.created_at }}</span>
    </div>
  </div>
</md-card>
