<div class="page-content">
  <form fxLayout="column"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <mat-card class="mat-elevation-z3"
      fxLayout="column">

      <mat-form-field fxFlex>
        <input matInput autofocus type="number" placeholder="Cuenta" formControlName="acc_number" required maxlength="500">
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput autofocus type="text" placeholder="Descripción" formControlName="acc_desc" required maxlength="500">
      </mat-form-field>


      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end">
        <button mat-raised-button type="submit" color="primary">
          Registrar
        </button>
      </div>
    </mat-card>
  </form>
</div>