

<div class="md-padding c-record-form">
  <div class="margin-v-1"
    ng-switch="!!user.id"
    layout
    layout-align="space-between center">
      <h4 class="box-title"
        ng-switch-when="false">Creación de Usuario</h4>
      <h4 class="box-title"
        ng-switch-when="true">Edición de Usuario</h4>
  </div>


  <md-tabs class=""
      md-dynamic-height md-border-bottom
      md-selected="vm.selectedTab">

      <md-tab label="Perfil">
          <md-card>
            <form class="form-horizontal" name="form" validate>
              <md-card-content>

                <div class="form-group"
                    ng-show="!!user.id">
                    <label for="descripcion"
                            class="col-sm-2 control-label">
                        Código
                    </label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{ user.id | leftPad }}</p>
                    </div>
                </div>

                <div class="padding-h-1"
                    ng-if="currentUser.id != user.id"
                    layout
                    layout-xs="column"
                    flex>
                    <label class=" control-label col-sm-2" required-field>
                        Tipo de salida
                    </label>
                    <div flex>
                        <label class="radio">
                            <input type="radio"
                            value="1"
                            ng-model="user.status"
                            ng-required="!user.status">
                                Activo
                        </label>
                    </div>
                    <div>
                        <label class="radio">
                            <input type="radio"
                                        value="2"
                                        ng-model="user.status"
                                        ng-required="!user.status">
                                Inactivo
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name"
                            class="col-sm-2 control-label"
                            required-field>Nombre</label>
                    <div class="col-sm-10">
                        <input type="text"
                                class="form-control"
                                id="name"
                                placeholder="Nombre de usuario"
                                maxlength="200"
                                required
                                ng-model="user.name"
                                data-auto-focus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name"
                            class="col-sm-2 control-label"
                            required-field>Apellidos </label>
                    <div class="col-sm-10">
                        <input type="text"
                                class="form-control"
                                id="last_name"
                                placeholder="Apellido"
                                maxlength="200"
                                ng-model="user.last_name"
                                required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name"
                            class="col-sm-2 control-label"
                            required-field>Usuario</label>
                    <div class="col-sm-10">
                        <input type="text"
                                class="form-control"
                                id="username"
                                placeholder="username"
                                maxlength="50"
                                required
                                ng-trim="true"
                                ng-model="user.username"
                                ng-change="validateUsername()"
                                data-custom-validation>
                    </div>
                </div>
                <div class="form-group"
                    ng-hide="isUsernameValid">
                    <div class="col-sm-offset-2 col-sm-10">
                        <span class="text-red">El usuario ingresado no es válido.
                        </span>
                    </div>
                </div>
                <div class="form-group"
                    ng-if="!user.id">
                    <label for="clave"
                            class="col-sm-2 control-label"
                            required-field>Contraseña</label>
                    <div class="col-sm-10">
                        <input type="password"
                                class="form-control"
                                id="se-input-password"
                                placeholder="Contraseña"
                                maxlength="50"
                                required
                                ng-model="user.password"
                                data-custom-validation>
                    </div>
                </div>
                <div class="form-group"
                    ng-if="!user.id">
                    <label for="clave"
                            class="col-sm-2 control-label"
                            required-field>Confirmar Contraseña</label>
                    <div class="col-sm-10">
                        <input type="password"
                                class="form-control"
                                id="clave_r"
                                placeholder="Confirmar Contraseña"
                                maxlength="50"
                                required
                                ng-model="user.password_r"
                                data-custom-validation>
                    </div>
                </div>
                <div class="form-group">
                    <label for="employee_id"
                            class="col-sm-2 control-label">Código Empleado</label>
                    <div class="col-sm-10">
                        <input type="text"
                                class="form-control"
                                maxlength="10"
                                id="employee_id"
                                placeholder="Código Empleado"
                                ng-model="user.employee_id">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" required-field>Ubicación</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="row">
                                    <label class="col-sm-2 control-label">Cliente</label>
                                </div>
                                <div class="row">
                                    <ui-select class="col-sm-12"
                                                ng-model="user.locate_client"
                                                ng-class="{'ui-select-element': true}"
                                                ng-disabled="clientList.length < 1"
                                                data-on-select="onLocateClientChange()"
                                                required>
                                        <ui-select-match placeholder="Seleccione un cliente.">
                                            <span ng-bind="$select.selected.description"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item.id as item in clientList | propsFilter: {description: $select.search}">
                                            <span ng-bind-html="item.description | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <label class="col-sm-2 control-label">Oficina</label>
                                </div>
                                <div class="row">
                                    <ui-select class="col-sm-12"
                                                ng-model="user.locate_office"
                                                ng-class="{'ui-select-element': true}"
                                                ng-disabled="officeList.length < 1"
                                                data-on-select="onLocateOfficeChange()"
                                                required>
                                        <ui-select-match placeholder="Seleccione una oficina.">
                                            <span ng-bind="$select.selected.name"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item.id as item in officeList | propsFilter: {name: $select.search}">
                                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <label class="col-sm-2 control-label">Area</label>
                                </div>
                                <div class="row">
                                    <ui-select class="col-sm-12"
                                                ng-model="user.locate_area"
                                                ng-class="{'ui-select-element': true}"
                                                ng-disabled="areaList.length < 1"
                                                required>
                                        <ui-select-match placeholder="Seleccione un área.">
                                            <span ng-bind="$select.selected.name"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item.id as item in areaList | propsFilter: {name: $select.search}">
                                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Código Distrito
                    </label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{ user.ubigeo_id || '-' }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">UbiGeo</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="row">
                                    <label class="col-sm-2 control-label">Departamento</label>
                                </div>
                                <div class="row">
                                    <ui-select class="col-sm-12"
                                                ng-model="location.dpto"
                                                ng-class="{'ui-select-element': true}"
                                                ng-disabled="dptos.length < 1"
                                                data-on-select="onDptoChange()">
                                        <ui-select-match data-allow-clear="true"
                                                        data-placeholder="Seleccione un departamento.">
                                            <span ng-bind="$select.selected.name"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in dptos | propsFilter: {name: $select.search}">
                                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <label class="col-sm-2 control-label">Provincia</label>
                                </div>
                                <div class="row">
                                    <ui-select class="col-sm-12"
                                                ng-model="location.prov"
                                                ng-class="{'ui-select-element': true}"
                                                ng-disabled="provs.length < 1"
                                                data-on-select="onProvChange()">
                                        <ui-select-match data-allow-clear="true"
                                                        data-placeholder="Seleccione una provincia.">
                                            <span ng-bind="$select.selected.name"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in provs | propsFilter: {name: $select.search}">
                                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <label class="col-sm-2 control-label">Distrito</label>
                                </div>
                                <div class="row">
                                    <ui-select class="col-sm-12"
                                                ng-model="location.dist"
                                                ng-class="{'ui-select-element': true}"
                                                ng-disabled="dists.length < 1"
                                                data-on-select="onDistChange()">
                                        <ui-select-match data-allow-clear="true"
                                                        data-placeholder="Seleccione un distrito.">
                                            <span ng-bind="$select.selected.name"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in dists | propsFilter: {name: $select.search}">
                                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"
                            required-field>Rol</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-5">
                                <select class="form-control"
                                        ng-model="user.role_id">
                                    <option value="">Seleccione un rol.</option>
                                    <option ng-if="vm.currentUser.role_id == 2"
                                            value="2">Administrador</option>
                                    <option value="1">Operario</option>
                                    <option value="3">Usuario</option>
                                    <option value="4">Delivery</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            * <b>Administrador</b>: Tiene acceso a todo, Ignora las restricciones
                        </div>
                        <div>
                            * <b>Operario</b>: Tiene permisos de edición restringidos <br>
                            * Solo podrá ver/editar información sobre clientes asignados.
                        </div>
                        <div>
                            * <b>Usuario</b>: Tiene solo permisos para ver <br>
                            * Solo puede ver clientes que tiene asignados
                        </div>

                        <div>
                            * <b>Delivery</b>: Encargado de entregar envíos <br>
                            * Puede actualizar el estado de los envíos en tránsito
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if>
                    <label for="name" class="col-sm-2 control-label">Código Externo </label>
                    <div class="col-sm-10">
                        <input type="text"
                                class="form-control"
                                maxlength="3"
                                id="legacy_id"
                                placeholder="Código de sistema antiguo"
                                ng-model="user.legacy_id">
                    </div>
                </div>
                <br>
                <div ng-if="['1', '3'].indexOf(user.role_id) > -1">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Clientes</label>
                        <div class="col-sm-10">
                            <ui-select multiple
                                        class="col-sm-10"
                                        theme="bootstrap"
                                        ng-model="clientSelection.selectedClients"
                                        data-sortable="true"
                                        data-close-on-select="false"
                                        data-on-select="clearSelection($select)">
                                <ui-select-match placeholder="Registrar permisos sobre estos clientes.">{{$item.description}}</ui-select-match>
                                <ui-select-choices repeat="client in user.clients | filter:$select.search track by client.id">
                                    <span ng-bind-html="client.description | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Restricciones</label>
                        <div class="col-sm-10"
                            ng-switch="user.role_id">
                            <table class="table"
                                    ng-switch-when="1">
                                <thead>
                                <tr>
                                    <th>Tablas</th>
                                    <th class="col-sm-1">Ver</th>
                                    <th class="col-sm-1">Crear</th>
                                    <th class="col-sm-1">Editar</th>
                                    <th class="col-sm-1">Eliminar</th>
                                </tr>
                                <tr class="btn-header">
                                    <th></th>
                                    <th>
                                    <a type="button"
                                        class="btn"
                                        title="Seleccionar"
                                        ng-click="onPermissionsCheck('all', 'view')">
                                        <md-icon md-svg-icon="check_box" size="16"></md-icon>
                                    </a>
                                    </th>
                                    <th>
                                    <a type="button"
                                        class="btn"
                                        title="Seleccionar"
                                        ng-click="onPermissionsCheck('all', 'create')">
                                        <md-icon md-svg-icon="check_box"></md-icon>
                                    </a>
                                    </th>
                                    <th>
                                    <a type="button"
                                        class="btn"
                                        title="Seleccionar"
                                        ng-click="onPermissionsCheck('all', 'edit')">
                                        <md-icon md-svg-icon="check_box"></md-icon>
                                    </a>
                                    </th>
                                    <th>
                                    <a type="button"
                                        class="btn"
                                        title="Seleccionar"
                                        ng-click="onPermissionsCheck('all', 'delete')">
                                        <md-icon md-svg-icon="check_box"></md-icon>
                                    </a>
                                    </th>
                                    <th>Selec. todos</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="entity in user.entities">
                                    <td>{{entity.display_name}}</td>
                                    <td>
                                        <input type="checkbox"
                                                ng-model="entity._view"
                                                ng-true-value="1"
                                                ng-false-value="0"
                                                ng-click="onPermissionsCheck(entity.name, 'view')">
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                                ng-model="entity._create"
                                                ng-true-value="1"
                                                ng-false-value="0"
                                                ng-disabled="!entity._view">
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                                ng-model="entity._edit"
                                                ng-true-value="1"
                                                ng-false-value="0"
                                                ng-disabled="!entity._view">
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                                ng-model="entity._delete"
                                                ng-true-value="1"
                                                ng-false-value="0"
                                                ng-disabled="!entity._view">
                                    </td>
                                    <td class="btn-left">
                                        <a type="button"
                                            class="btn"
                                            title="Seleccionar"
                                            ng-click="onPermissionsCheck(entity.name, 'all')">
                                            <i class="fa fa-check-square-o"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table"
                                    ng-switch-when="3">
                                <thead>
                                <tr>
                                    <th>Tablas</th>
                                    <th class="col-sm-8">Ver</th>
                                </tr>
                                <tr class="btn-header">
                                <th></th>
                                <th>
                                    <a type="button"
                                        class="btn"
                                        title="Seleccionar"
                                        ng-click="onPermissionsCheck('all', 'view')">
                                        <i class="fa fa-check-square-o"></i>
                                    </a>
                                </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="entity in user.entities">
                                    <td>{{entity.display_name}}</td>
                                    <td>
                                        <input type="checkbox"
                                                ng-model="entity._view"
                                                ng-true-value="1"
                                                ng-false-value="0">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div ng-if="user.role_id == 4">
                    <div class="form-group">
                        <label class="col-sm-2 control-label margin-top-05">Delivery</label>
                        <div class="col-sm-10">

                        <md-contact-chips
                            ng-model="vm.delivery"
                            ng-change="vm.onModelChange(vm.delivery)"
                            md-contacts="vm.querySearch($query)"
                            md-contact-name="full_name"
                            md-require-match="true"
                            md-separator-keys="vm.separatorKeys"
                            md-highlight-flags="i"
                            placeholder="Asignar empleado"
                            secondary-placeholder="Asignar empleado"
                            input-aria-label="Asignar empleado">
                        </md-contact-chips>

                        <span class="margin-v-1" layout>Asignar empleados para hacer seguimiento de documentos</span>
                        </div>
                    </div>
                </div>
              </md-card-content>
              <md-card-actions layout="row" layout-align="end center">
                  <md-button type="submit" class=""
                              ng-click="backToList()">Cancelar
                  </md-button>

                  <md-button type="submit" class="md-primary md-raised md-primary"
                              ng-click="save(form)">Guardar
                  </md-button>
              </md-card-actions>
            </form>
          </md-card>
      </md-tab>

      <md-tab label="Credenciales"
      class="ux-margin-bottom"
          ng-if="user.id">
          <md-card>
            <form class="form-horizontal" name="form" validate>
              <md-card-content>


                          <div class="form-group"
                               ng-if="user.id">
                              <label for="clave"
                                     class="col-sm-2 control-label"
                                     required-field>Nueva Contraseña</label>
                              <div class="col-sm-10">
                                  <input type="password"
                                         class="form-control"
                                         id="clave2"
                                         placeholder="Contraseña"
                                         required
                                         ng-model="user.password"
                                         data-auto-focus
                                         data-custom-validation>
                              </div>
                          </div>
                          <div class="form-group"
                               ng-if="user.id">
                              <label for="clave"
                                     class="col-sm-2 control-label"
                                     required-field>Confirmar Nueva Contraseña</label>
                              <div class="col-sm-10">
                                  <input type="password"
                                         class="form-control"
                                         id="clave_r2"
                                         placeholder="Confirmar Contraseña"
                                         required=""
                                         ng-model="user.newPassword"
                                         data-custom-validation>
                              </div>
                          </div>
              </md-card-content>
              <md-card-actions layout="row" layout-align="end center">
                  <md-button type="submit" class=""
                              ng-click="backToList()">Cancelar
                  </md-button>

                  <md-button type="submit" class="md-primary md-raised md-primary"
                              ng-click="savePassword(form)">Guardar
                  </md-button>
              </md-card-actions>
            </form>
          </md-card>
      </md-tab>
  </md-tabs>
</div>
