<md-content class="c-filter-panel_toggle md-padding"
            layout
            layout-align="space-between center"
            md-padding>
  <h4>Eliminar Carga de Registros</h1>
</md-content>

<md-content class="md-padding" layout-fill >
  <md-card class="md-padding">
    <md-card-content>
      <form id="registrosForm" class="form-horizontal" ng-switch="vm.isLoading">
        <div style="margin-bottom:30px;">Selecione la fecha en la que se cargaron los registros que desea eliminar.</div>
        <div class="form-group">
            <label for="uploadFile" class="col-sm-2 control-label">Selecciona la fecha de carga:</label>
            <div class="col-sm-4">
                <select class="form-control" ng-model="vm.creationObject" ng-options="cc.created_at for cc in vm.creationCodes">
                  <option value="">-- Seleccione fecha --</option>
                </select>
            </div>
        </div>
      </form>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button type="submit"
            class="md-raised md-primary"
            ng-click="vm.deleteRecords()"
            ng-disabled="vm.disableSubmit">Enviar</md-button>

    </md-card-actions>
  </md-card>

  <div class="md-padding" layout="column">
      <div>
          <div class="success resultMsg"
               ng-show="vm.callSucced">
              <span>Se eliminaron {{vm.nroRegistros}} registros.</span>
          </div>
          <div class="error errorMsg"
               ng-show="vm.errorMsg">
              <span>{{vm.errorMsg}}.</span>
          </div>
      </div>
      <div ng-if="vm.isLoading">
          <i class="fa fa-spinner fa-spin"></i>
      </div>

  </div>
</md-content>
