@import './core/_bootstrap.override.scss';

select, input , textarea,
.ui-select-choices li ,
ad-table-ajax tbody, .form-control-static,
.ui-select-placeholder, .ui-select-match-text{
    text-transform: uppercase;
}

// Required marker color
$required-marker-color: #b94a48;

.ui-select-element {
    .btn-default{
        background: #FFF;
    }
}

.message {
    position: fixed;
    width: 40%;
    right: 0;
    top: 10px;
    margin: 5px;
    z-index: 9999;
}

.required-field-marker {
    color: $required-marker-color;
    margin-left: 3px;
}

.container-zones-list {
    a.btn {
        padding: 0;
    }
    span {
      display: inline-block;
      max-width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    display: block;
    height: 600px;
    overflow-y: scroll;
}

.user-panel {
  min-height: 50px;
  .info {
    left: initial;
    padding-left: 0;
  }
}

.btn-header, .btn-left {
  .btn {
    padding: 0;
  }
}

/* ---- Bootstrap fix ----*/
.form-filter .ui-select-match-text{
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .form-filter .ui-select-match-text{
    max-width: 101px;
    padding-right: 10px;
  }
}

@media (min-width: 1000px) {
  .form-filter .ui-select-match-text{
    max-width: 200px;
    padding-right: 10px;
  }
}


.ui-select-toggle > .btn.btn-link {
  margin-right: 10px;
  top: 6px;
  position: absolute;
  right: 10px;
}

/* Records Grid */

.grid {
  width: 100%;
  height: 250px;
}

.grid-msg-overlay {
  position: absolute;
  top: 90px;
  margin-left: 10px;
}

.grid-msg-overlay span {
  display: table-cell;
  vertical-align: middle;
}

ad-table-ajax {
  display: flex;
  width: 100%;
}

.ad-table-ajax-container {
  min-width: 100%;
}

.record-header h3 {
  margin-top: 0;
}

.record-form {
  textarea {
    max-width: 200%
  }
  .box-group .box {
    padding: 5px 0;
  }
}

@font-face {
  font-family: codeBarFont;
  src: url(/core/3OF9_NEW.TTF);
}

.codeBarColumn {
  font-family: codeBarFont;
  font-size: 30px;
  margin: 10px 0;

  transform:scale(1,2); /* W3C */
  -webkit-transform:scale(1,2); /* Safari and Chrome */
  -moz-transform:scale(1,2); /* Firefox */
  -ms-transform:scale(1,2); /* IE 9 */
  -o-transform:scale(1,2); /* Opera */
}

/* CORE */
md-menu-content {
  max-height: 412px;
}

md-menu-item > .md-button span {
  margin-left: 16px;
}

md-card {
  margin: 0;
}

.sidebar-mini.sidebar-collapse .content-wrapper {
  margin-left: 0 !important;
}

.margin-0 {
  margin: 0;
}

.margin-1 {
  margin: 8px;
}

.margin-v-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.margin-top-05 {
  margin-top: 8px;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

body {
  text-transform: uppercase;
}

.scroll {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.ux-margin-bottom {
  margin-bottom: 300px;
  @media only screen and (min-width: 600px) {
    margin-bottom: 200px;
  }

}

.u-text-center {
  text-align: center;
}

.padding-h-1 {
  padding-left: 16px;
  padding-right: 16px;
}