<div ng-repeat="item in data">
  <div class="form-group">
      <label for="nrodoc"
          class="col-sm-2 control-label"
          required-field>Nro. Doc:</label>
      <div class="col-sm-4">
          <textarea name="nrodoc"
                    class="form-control"
                    id="nrodoc"
                    cols="50"
                    rows="5"
                    maxlength="8000"
                    ng-disabled="disabled"
                    ng-model="item.document"
                    required></textarea>
      </div>
      <label for="detalle"
          class="col-sm-1 control-label"
          required-field>Detalle:</label>
      <div class="col-sm-4">
          <textarea name="detalle"
                    class="form-control"
                    id="detalle"
                    cols="50"
                    rows="5"
                    maxlength="8000"
                    ng-disabled="disabled"
                    ng-model="item.reference"
                    required></textarea>
      </div>
      <div class="col-sm-1"
           ng-if="!!$index">
          <span ng-click="removeRecord($index)">
              <i class="fa fa-times" role="button"></i>
          </span>
      </div>
  </div>
</div>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <span>
            <button type="button"
                    class="btn btn-primary"
                    ng-click="addRecord()">
                <i class="fa fa-plus-circle"></i>
            </button>
        </span>
    </div>
</div>
