<mat-card class="mat-elevation-z3">
  <form fxLayout="column"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">

    <div fxLayout="row wrap" fxLayoutGap="20px" >
      <mat-form-field fxFlex>
        <input matInput autofocus placeholder="Razón Social" formControlName="name" required maxlength="500">
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput autofocus type="number" placeholder="RUC" formControlName="ruc" required maxlength="500">
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput autofocus type="text" placeholder="Dirección" formControlName="address" required>
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput autofocus type="number" placeholder="Teléfono" formControlName="telephone" required maxlength="500">
      </mat-form-field>
    </div>

    <div fxLayout="row"
        fxLayoutGap="20px">
        <div fxLayout="column"
            fxLayoutGap="20px"
            fxFlex="50">
            <mat-checkbox fxFlex="50px" formControlName="isProvider">Proveedor</mat-checkbox>

            <mat-form-field
                *ngIf="form.value.isProvider">
              <mat-select placeholder="Tipo de Proveedor" formControlName="providerType" required>
                <mat-option *ngFor="let provType of providerTypes"[value]="provType.id">
                    {{provType.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-checkbox *ngIf="form.value.isProvider"
            fxFlex="50px"
            formControlName="hasDetraction">Detracción</mat-checkbox>
        </div>

        <div fxLayout="column"
            fxLayoutGap="20px"
            fxFlex="50">
            <mat-checkbox fxFlex="50px" formControlName="isClient">Cliente</mat-checkbox>

            <mat-form-field
                *ngIf="form.value.isClient">
              <mat-select placeholder="Tipo de Cliente" formControlName="clientType" required>
                <mat-option *ngFor="let cliType of clientTypes"[value]="cliType.id">
                    {{cliType.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row" fxLayoutGap="20px">
      <button mat-raised-button type="submit" color="primary" >Registrar</button>
    </div>
  </form>
</mat-card>
