filter-panel {

  .c-filter-panel {

    .flex-item {
      width: 100%;

      &.half {
        width: 100%;
      }
    }

    .action-buttons {
      min-width: auto;
    }

    @media only screen and (min-width: 600px) {
      min-width: 100%;

      .flex-item {
        width: 250px;
        &.half {
          width: 250px;
        }
      }

    }
  }

  .c-filter-panel.ng-hide {
    max-height: 0;
  }

  .c-filter-panel.ng-hide-add,
  .c-filter-panel.ng-hide-remove {
    transition: all linear 0.3s;
  }

  .c-filter-panel {
    max-height: 600px;
  }

  md-input-container {
    margin-left: 8px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .md-errors-spacer {
    display: none;
  }

  .c-datepicker-container {
    flex-direction: row-reverse;

    .md-datepicker-input-container {
      margin-left: 0;
      display: flex;
      flex: 1;
    }
    .md-button.md-icon-button {
      margin-left: 0;
      margin-right: 0;
    }
  }

  ._md-datepicker-has-triangle-icon {
    margin-right: 0;
    padding-right: 0;
  }

  ._md-datepicker-floating-label._md-datepicker-has-calendar-icon > label:not(.md-no-float):not(.md-container-ignore) {
    right: auto;
  }

  md-autocomplete[md-floating-label] .md-show-clear-button button {
    top: 0;
  }

  .c-scan-button {
    cursor: pointer;

    md-icon {
      width: 40px;
      height: 40px;
      margin: 0;
    }
  }
}