<md-content class="c-filter-panel_toggle md-padding"
    layout
    layout-align="space-between center"
    md-padding>
    <h4>Asignación de Registros</h4>
</md-content>
<md-content class="md-padding" layout-fill >
    <md-card class="md-padding">
        <md-card-content>
            <form class="form-horizontal assign-form" name="form" validate>

                <div class="form-group">
                    <label class="col-sm-2 control-label"
                            required-field>Tipo</label>
                    <div class="row col-md-10">
                        <div class="col-md-4">
                            <div class="radio"><label>
                                <input type="radio" value="1"
                                        ng-model="vm.assignedTo.type"
                                        ng-change="vm.refreshAssignedList()">Empleado</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="radio"><label>
                                <input type="radio" value="2"
                                        ng-model="vm.assignedTo.type"
                                        ng-change="vm.refreshAssignedList()">Oficina</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="radio"><label>
                                <input type="radio" value="3"
                                        ng-model="vm.assignedTo.type"
                                        ng-change="vm.refreshAssignedList()">Interno</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group"
                        ng-if="vm.assignedTo.type != 3">
                    <label for="vm.assignedTo"
                            class="col-sm-2 control-label"
                            required-field>Asignar a:</label>
                    <div class="col-sm-8">
                        <ui-select ng-model="vm.assignedTo.person"
                                    ng-class="{'ui-select-element': true}"
                                    data-on-select="vm.getAssignee()"
                                    required>
                            <ui-select-match placeholder="SELECCIONE PARA ASIGNACIÓN.">
                                <span ng-bind="$select.selected.displayText"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="item in vm.assignedList | propsFilter: {displayText: $select.search}">
                                <span ng-bind-html="item.displayText | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <!-- Get data from 'assignedTo' -->
                <div class="form-group">
                    <label for="destination"
                        class="col-sm-2 control-label">Destino:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{ vm.assignedTo.fullName || '-' }}</p>
                    </div>
                </div>
                    <div class="form-group"
                        ng-if="vm.assignedTo.type == 2">
                    <label for="contact"
                        class="col-sm-2 control-label">Contacto: </label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{ vm.assignedTo.contact || '-' }}</p>
                    </div>
                </div>
                <div class="form-group"
                        ng-if="vm.assignedTo.type != 3">
                    <label for="contact"
                        class="col-sm-2 control-label">Dirección: </label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{ vm.assignedTo.address || '-' }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="contact"
                        class="col-sm-2 control-label">Origen: </label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{ vm.assignedTo.origin || '-' }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="shippingType"
                            class="col-sm-2 control-label"
                            required-field>Tipo de Envío:</label>
                    <div class="col-sm-8">
                        <select name="shippingType"
                                class="form-control"
                                id="shippingType"
                                required=""
                                ng-model="vm.assignment.shipping_type"
                                ng-options="value.name as value.name for (key, value) in vm.shippingTypes.results.list">
                            <option value="">Seleccionar Tipo de Envío</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="service_order"
                            class="col-sm-2 control-label"
                            required-field>Orden de Servicio:</label>
                    <div class="col-sm-8">
                        <input type="text"
                                maxlength="100"
                                class="form-control"
                                id="service_order"
                                placeholder="Orden de servicio"
                                required=""
                                ng-model="vm.assignment.service_order">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"
                            required-field>Registros</label>
                    <div class="col-sm-8">
                        <multi-tag data-selection="vm.assignment.recordCodes"
                                    data-placeholder="Ingrese el código del registro a asignar."></multi-tag>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit"
                                class="btn btn-success pull-right"
                                formnovalidate
                                ng-click="vm.getRecords()">Verificar</button>
                    </div>
                </div>
                <div class="form-group">
                    <p class="row col-sm-8 col-sm-offset-2" ng-show="!!vm.missingCodes && !!vm.missingCodes.length">
                        <b>Los siguientes códigos no fueron encontrados: </b>
                        <span ng-repeat="item in vm.missingCodes">{{item}}{{$last ? '.' : ', '}}</span>
                    </p>
                </div>
                <div class="row col-sm-12" ng-show="vm.isTableVisiable">
                    <ad-table-ajax table-name="assignRecords"
                                    column-definition="vm.colDef"
                                    table-classes="table table-bordered table-hover bg-blank"
                                    page-sizes="[10, 20]"
                                    page-size="10"
                                    pagination-btn-group-classes="pagination pagination-sm"
                                    ajax-config="vm.tableConfig"
                                    page-loader="vm.methods.pageLoader"
                                    state="vm.tableConfig.state"
                                    on-data-loaded="vm.validateTableData($response)"
                                    items-not-found-message="No se encontraron datos">
                    </ad-table-ajax>
                </div>
            </form>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button type="submit" class=""
                        ng-click="vm.backToList()">Cancelar
            </md-button>

            <md-button type="submit" class=" md-primary"
                        ng-click="vm.save(form)"
                        ng-disabled="vm.isDisabled">Guardar
            </md-button>

            <md-button type="submit" class="md-raised md-primary"
                        ng-click="vm.save(form, true)"
                        ng-disabled="vm.isDisabled">Guardar y Exportar
            </md-button>

        </md-card-actions>
    </md-card>
</md-content>