<!-- Site wrapper -->
<md-content layout
            layout-fill>
  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <sidebar-menu></sidebar-menu>

  <!-- =============================================== -->
  <div class="scroll" layout-fill>
    <div class="message"></div>
    <toolbar layout></toolbar>
    <md-content class="md-view md-padding margin-bottom-ux" ui-view></md-content>
  </div>

  <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</md-content><!-- ./wrapper -->
<botcopy></botcopy>