<md-autocomplete flex required
          md-no-cache="false"
          md-selected-item="vm.selectedItem"
          md-search-text="vm.searchText"
          md-selected-item-change="vm.selectedItemChange(item)"
          md-items="item in vm.querySearch(vm.searchText)"
          md-item-text="item.name"
          md-escape-options="clear"
          md-require-match="false"
          md-floating-label="{{vm.placeholder}}"
          md-match-case-insensitive="true"
          md-no-asterisk>
          <md-item-template>
            <span md-highlight-text="vm.searchText"
              md-highlight-flags="i">{{item.name}}</span>
          </md-item-template>
          <md-not-found>
            <div layout-padding>
              No se encontraron empresas.
            </div>
          </md-not-found>
        </md-autocomplete>