

<div class="md-padding c-record-form">
    <div class="margin-v-1"
      ng-switch="!!internal_client.id"
      layout
      layout-align="space-between center">
        <h4 class="box-title"
          ng-switch-when="false">Creación de Cliente Interno</h4>
        <h4 class="box-title"
          ng-switch-when="true">Edición de Cliente Interno</h4>
    </div>

    <md-card flex="100"
            flex-gt-sm="70">
        <form class="form-horizontal" name="form" validate>
        <md-card-content>

            <div class="form-group"
                    ng-show="!!internal_client.id">
                <label class="col-sm-2 control-label">
                    Código
                </label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{ internal_client.id | leftPad }}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="short_name"
                        class="col-sm-2 control-label"
                        required-field>Nombre Corto</label>
                <div class="col-sm-10">
                    <input type="text"
                            class="form-control"
                            id="short_name"
                            placeholder="Nombre corto"
                            maxlength="200"
                            required
                            ng-model="internal_client.short_name"
                            data-auto-focus>
                </div>
            </div>
            <div class="form-group">
                <label for="name"
                        class="col-sm-2 control-label"
                        required-field>Nombre Completo</label>
                <div class="col-sm-10">
                    <input type="text"
                            class="form-control"
                            id="name"
                            placeholder="Nombre completo"
                            maxlength="400"
                            ng-model="internal_client.name"
                            required>
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="col-sm-2 control-label">Dirección</label>
                <div class="col-sm-10">
                    <input type="text"
                            class="form-control"
                            id="address"
                            placeholder="Dirección"
                            maxlength="400"
                            ng-model="internal_client.address">
                </div>
            </div>
            <div class="form-group">
                <label for="ruc" class="col-sm-2 control-label">R.U.C.</label>
                <div class="col-sm-10">
                    <input type="text"
                            class="form-control"
                            maxlength="11"
                            id="ruc"
                            placeholder="R.U.C."
                            maxlength="20"
                            ng-model="internal_client.ruc">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Código Distrito
                </label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{ internal_client.ubigeo_id || '-' }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">UbiGeo</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row">
                                <label class="col-sm-2 control-label">Departamento</label>
                            </div>
                            <div class="row">
                                <ui-select class="col-sm-12"
                                            ng-model="location.dpto"
                                            ng-class="{'ui-select-element': true}"
                                            ng-disabled="dptos.length < 1"
                                            data-on-select="onDptoChange()">
                                    <ui-select-match data-allow-clear="true"
                                                        data-placeholder="Seleccione un departamento.">
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.coddpto as item in dptos | propsFilter: {name: $select.search}">
                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <label class="col-sm-2 control-label">Provincia</label>
                            </div>
                            <div class="row">
                                <ui-select class="col-sm-12"
                                            ng-model="location.prov"
                                            ng-class="{'ui-select-element': true}"
                                            ng-disabled="provs.length < 1"
                                            data-on-select="onProvChange()">
                                    <ui-select-match data-allow-clear="true"
                                                        data-placeholder="Seleccione una provincia.">
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.codprov as item in provs | propsFilter: {name: $select.search}">
                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <label class="col-sm-2 control-label">Distrito</label>
                            </div>
                            <div class="row">
                                <ui-select class="col-sm-12"
                                            ng-model="location.dist"
                                            ng-class="{'ui-select-element': true}"
                                            ng-disabled="dists.length < 1"
                                            data-on-select="onDistChange()">
                                    <ui-select-match data-allow-clear="true"
                                                        data-placeholder="Seleccione un distrito.">
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.coddist as item in dists | propsFilter: {name: $select.search}">
                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="legacy_id" class="col-sm-2 control-label">Código Externo</label>
                <div class="col-sm-10">
                    <input type="text"
                            class="form-control"
                            maxlength="3"
                            id="legacy_id"
                            placeholder="Código de sistema antiguo"
                            ng-model="internal_client.legacy_id">
                </div>
            </div>

        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button type="submit" class=""
                        ng-click="backToList()">Cancelar
            </md-button>

            <md-button type="submit" class="md-primary md-raised md-primary"
                        ng-click="save(form)">Guardar
            </md-button>
        </md-card-actions>
        </form>
    </md-card>
</div>
