<create-Panel-Header class="ux-header-panel" data-config="vm.headerConfig"></create-Panel-Header>

<div class="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               placeholder="Buscar"
                               data-enter-press="vm.search()"
                               ng-model="vm.searchKey">
                        <span class="input-group-addon"
                              ng-click="vm.search()">
                            <i class="glyphicon glyphicon-search"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <ad-table-ajax table-name="doctumenTypes"
                           column-definition="vm.colDef"
                           table-classes="table table-bordered table-hover bg-blank"
                           page-sizes="[25, 50]"
                           page-size="25"
                           pagination-btn-group-classes="pagination pagination-sm"
                           ajax-config="vm.tableConfig"
                           page-loader="vm.methods.pageLoader"
                           row-class-provider="vm.tableConfig.rowClass"
                           state="vm.tableConfig.state"
                           items-not-found-message="No se encontraron datos"
                           on-row-click="vm.rowClicked">
            </ad-table-ajax>
        </div>
    </div>
</div>

<div class="modal fade"
     id="deleteDocumentTypeModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirmar eliminación</h4>
      </div>
      <div class="modal-body">
        Seguro que desea eliminar el tipo de documento: {{ vm.toDelete.name }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
        <button type="button"
                class="btn btn-danger"
                ng-click="vm.deleteDocumentType(vm.toDelete.id)"
                data-dismiss="modal">
            Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
