<div layout-align="space-between start"
    layout>
  <md-input-container class="md-icon-float md-block md-padding">
    <!-- Use floating label instead of placeholder -->
    <label>Búsqueda</label>
    <md-icon md-svg-icon="search" class="name"></md-icon>
    <input type="text"
              class="form-control"
              placeholder="Buscar"
              data-enter-press="vm.search()"
              ng-model="vm.searchKey">
  </md-input-container>

  <md-button class="md-raised md-primary md-button md-ink-ripple"
            ng-click="vm.goToCompany()">
    <md-icon md-svg-icon="add"></md-icon>
    Registrar Empresa
  </md-button>
</div>

<md-card>
  <md-table-container>
    <table md-table md-row-select multiple ng-model="vm.selected" md-progress="vm.promise">
      <thead md-head md-order="vm.query.order" md-on-reorder="vm.getCompanies">
        <tr md-row>
          <th md-column><span>Código</span></th>
          <th md-column><span>Razón Social</span></th>
          <th md-column>RUC</th>
          <th md-column>Domicilio Fiscal</th>
          <th md-column md-numeric>Teléfono</th>
          <th md-column md-numeric>Proveedor</th>
          <th md-column md-numeric>Cliente</th>
          <th md-column></th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-select="receipt" md-select-id="name" md-auto-select ng-repeat="element in vm.companies">
          <td md-cell>{{ element.code }}</td>
          <td md-cell>{{ element.name }}</td>
          <td md-cell>{{ element.ruc }}</td>
          <td md-cell>{{ element.address }}</td>
          <td md-cell>{{ element.telephone }}</td>
          <td md-cell>{{!!element.provider_id}}</td>
          <td md-cell>{{!!element.client_id}}</td>
          <td md-cell layout>
            <md-button class="md-icon-button"
                      ng-click="vm.openPayments(element.id)">
              <md-icon md-svg-icon="monetization_on" ></md-icon>
            </md-button>
            <md-button class="md-icon-button"
                      ng-click="vm.confirmDeletion(element.id)">
              <md-icon md-svg-icon="delete" ></md-icon>
            </md-button>
          </td>

        </tr>
      </tbody>
    </table>
  </md-table-container>
</md-card>